---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="About Me">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="About Me"
      description="Hello 👋 I'm Cat, a Computer Scientist passionate about machine learning, deep learning, and building intelligence."
    />

    <img src="/assets/images/day.png" class="relative z-30 w-full my-10 rounded-xl h-[500px] object-cover transition-opacity duration-500 dark:opacity-0 dark:hidden" />
    <img src="/assets/images/night.png" class="relative z-30 w-full my-10 rounded-xl h-[500px] object-cover transition-opacity duration-500 opacity-0 dark:opacity-100 hidden dark:block" />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Short Bio</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Computer Scientist 🧑🏻‍💻 focused on machine learning, deep learning, and AI research. Passionate about reinforcement learning, mathematics, and building intelligent systems at scale.
    </p>
    <p
      class="mt-4 text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      In my free time, I love swimming, playing basketball, and exploring new places. Growing up in a coastal town, I’ve always been drawn to the sky and the ocean—and the pictures above remind me of home!
    </p>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experience
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience) => {
          return (
            <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
              />
            </div>
          )
        })
      }
    </div>

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">Let's Connect</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      If you want to connect with me, feel free to <a
        href="https://www.linkedin.com/in/catluong1602/"
        target="_blank"
        class="text-indigo-600 underline">reach out on LinkedIn</a
      >, or you can send me an <a href="mailto:luongcat162002@gmail.com" class="text-indigo-600 underline"
        >email</a
      > and I'll be sure to get back to you.
    </p>
  </section>
</Layout>
